.element_controller {
	width: 280px;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.element {
	height: 80px;
	margin: 10px;
	transition: all ease-in-out 0.15s;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	user-select: none;
}

.element:hover {
	background-color: aliceblue;
}